<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.token.mapper.CategoryMapper">
    <select id="queryList" resultType="com.token.entity.Category">
        select * from category
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by create_time desc
    </select>
    <select id="getEnableStatusByIds" resultType="java.lang.Long">
        select id from category
        <where>
            id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
        and status = 1
    </select>
    <delete id="delete">
        delete from category
        <where>
            id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </delete>
    <update id="update">
        update category
        <set>
            <if test="type != null and type != ''">
                type =#{type},
            </if>
            <if test="name != null and name != ''">
                name =#{name},
            </if>
            <if test="sort != null">
                sort =#{sort},
            </if>
            <if test="status != null">
                status =#{status},
            </if>
            <if test="updateTime != null">
                update_time =#{updateTime},
            </if>
            <if test="updateUser != null">
                update_user =#{updateUser}
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>